/build/
/OriginalGame/
/data/
/.twine-runtime/
/.cache/
/.vs/
/.vscode/
/CMakeUserPresets.json
__pycache__/
*.pyc
*.z64
*.n64
*.v64
*.rom
*.exe
*.dll
*.AppImage
*.elf
*.o
*.obj
*.pdb
*.log
*.sav
*.mpk
*.fla
*.sra
*.eep
